---
layout: framework
---


{%- if site.drafts.size > 0 -%}
<h2 class="segment-name">Drafts</h2>
{% for ex in site.drafts %}
<div class="page-segments">
  <ul class="page-segments-list">
    <li>
      <span class="post-meta">{{ ex.categories }}</span>
      <span><a class="post-link" href="{{ ex.url | relative_url }}">{{ ex.title | escape }}</a></span>
    </li>
  </ul>
</div>
{% endfor %}
{%- endif -%}

{%- if site.examples.size > 0 -%}
<h2 class="segment-name">Helps and examples</h2>
{% for ex in site.examples %}
<div class="page-segments">
  <ul class="page-segments-list">
    <li>
      <span class="post-meta">{{ ex.categories }}</span>
      <span><a class="post-link" href="{{ ex.url | relative_url }}">{{ ex.title | escape }}</a></span>
    </li>
  </ul>
</div>
{% endfor %}
{%- endif -%}