<div id="site-search-sheet" class="site-search-sheet">
  <div id="site-search" class="site-search-bar" data-baseurl="{{ '/' | relative_url }}">
    <div class="site-search-bar-inner">
      <label class="visually-hidden" for="site-search-input">Search posts</label>
      <i class="fa fa-search site-search-icon" aria-hidden="true"></i>
      <input id="site-search-input" class="site-search-input" type="search" placeholder="Search posts…" autocomplete="off" spellcheck="false">
      <div class="site-search-results" hidden></div>
    </div>
  </div>
</div>
