  <div id="gitment_thread"></div>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/theme-next/theme-next-gitment@1/default.css"/>
  <script src="/notes/assets/js/gitment.browser.js"></script>
  <script>
    var gitment = new Gitment({
      id: '{{ page.id }}',
      owner: '{{ site.gitment.username }}',
      repo: '{{ site.gitment.repo }}',
      creator: '{{ site.gitment.creator }}',
      oauth: {
        client_id: '{{ site.gitment.client_id }}',
        client_secret: '{{ site.gitment.client_secret }}',
      },
    });
    // Note: The gitment.browser.js file is modified to match for the organization repository! creator is the creator id, while owner is the organization name. In the personal page, they should be equal. creator can be omitted (by default it's the same with owner), but owner is mandatory.
    gitment.render('gitment_thread')
  </script>
